<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Shorten your link</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>

  <body>

    <div class="container">
      <div class="jumbotron">
        <h1 class="display-3">Shorten your URL</h1>
        <p class="lead">Input your link</p>
        <form method="POST" action="/insert">
          <input type="text" class="form-control" name="link">
          <br>
          <p>
            <input type="submit" class="btn btn-lg btn-success" value="Submit">
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>Prelink</th>
                    <th>Postlist</th>
                </tr>
            </thead>
            <tbody>
                <% for(var a in data){ %>
                <tr>
                    <td> <%=data[a].prelink %> </td>
                    <td> <%=data[a].postlink %> </td>
                </tr>
                <% } %>
            </tbody>
        </table>
      </div>
      <footer class="footer">
        <p>&copy; ariadiprana 2016</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
