<html>
<head>
</head>

<body>
  <h1> <%= title%>
  </h1>

  <form action='/short_url' method="POST">
    <input type="text" name="input_url">
    <input type="submit" value="Submit">
  </form>

  <p><%= new_url%>
  </p>

<body>
</html>
